[submodule "00-libft"]
	path = 00-libft
	url = git@github.com:mikysett/libft.git
[submodule "01-get_next_line"]
	path = 01-get_next_line
	url = git@github.com:mikysett/get_next_line.git
[submodule "02-ft_printf"]
	path = 02-ft_printf
	url = git@github.com:mikysett/ft_printf.git
[submodule "04-cub3d"]
	path = 04-cub3d
	url = git@github.com:mikysett/cub3d.git
[submodule "05-ft_server"]
	path = 05-ft_server
	url = git@github.com:mikysett/ft_server.git
[submodule "06-push_swap"]
	path = 06-push_swap
	url = git@github.com:mikysett/push_swap.git
[submodule "06-push_swap_speed_tester"]
	path = 06-push_swap_speed_tester
	url = git@github.com:mikysett/push_swap_speed_tester.git
